<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
	  <%= content_for(:head) %>
	<% else %>
	  <title>Default title</title>
	<% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<div class="container">
		<%= link_to "", root_path	, class: "logo" %>
		<ul>
			<li><a href="">Demo</a></li>
			<li><%= link_to "Pricing", pricing_path %></li>
			<li>
			<% if user_signed_in? %>
				<%= link_to "Log in", new_user_session_path, data: { no_turbolink: true } %>
			<% else %>
				<%= link_to "Log in", new_user_session_path %>
			<% end %>
			</li>
			<li>
			<% if user_signed_in? %>
				<%= link_to "Start free trial", new_user_registration_path, data: { no_turbolink: true }, class: "button" %>
			<% else %>
				<%= link_to "Start free trial", new_user_registration_path, class: "button" %>
			<% end %>
			</li>
		</ul>
	</div>

</div>

 <%= yield %>

</body>
</html>