<% content_for :head do %>
  <title>Shopify Metrics - Sign up</title>
<% end %>
<div class="main-wrapper">
  <h1>Create your account</h1>
  <h3 class="light">All the plans have 7 days of free trial. Credit card isn't required.</h3>
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "John Doe" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control", placeholder: "john@gmail.com" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Secure password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm password" %>
    </div>
    <%= f.submit "Sign up", class: "button" %>
    <%= render "devise/shared/links" %>
  <% end %>

</div>